body {
  background-color: ivory;
}

.wrap-clock {
  display: flex;
  width: 45rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clock {
  font-size: 3rem;
  font-weight: 900;
  padding: 0 0.2rem;

  background: linear-gradient(
    90deg,
    hsla(333, 100%, 53%, 1) 0%,
    hsla(33, 94%, 57%, 1) 100%
  );

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 750px) {
  .wrap-clock {
    width: 30rem;
  }
  span {
    display: block;
  }
}
